#!/usr/bin/env bash

# Easier navigation: .., ..., ...., ....., ~ and -
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."

# Shortcuts
alias asd='git hunks && gc'
alias b="bacon"
alias c="cargo"
alias cdsessionroot='cd $SESSION_ROOT'
alias e="nvim"
alias g="git"
alias ga='git ap'
alias gac='git ap && gc'
alias gc="git commit --verbose"
alias gca='git ap && gc'
alias gg="git status -sb"
alias gr="./gradl"
alias gs="git status"
alias gw="./gradlew"
alias h="history"
alias j="just"
alias jj="jq -C '.' | less -R"
alias js="jq '.'"
alias m="mise"
alias n="cargo +nightly"
alias o="open ."
alias ogvim="/opt/homebrew/bin/vim"
alias op="openport"
alias s="swift"
alias ss="sessionizer --shell"
alias t="tmux"
alias tim='/usr/bin/time -lp'
alias timebin='/usr/bin/time'
alias vi="nvim"
alias view="nvim -R"
alias vim="nvim"
alias z="zig"
alias zz="zig build -freference-trace=1337 --prominent-compile-errors"
alias zc="zz check"

# Typos
alias whoch='which'
alias gut="git"
alias got="git"
alias gir="git"

# Use nvim to paste the clipboard into a file
alias paste-to="nvim --headless --clean --noplugin -Es --cmd 'normal \"+pZZ'"

## ls -> eza
## https://github.com/eza-community/eza

alias ls='eza --classify --group-directories-first --time-style=long-iso'

## List files one line at a time
alias l1="eza --group-directories-first --oneline"

### List files in long format, excluding things that are .gitignored
alias l0="ls --long --git-ignore"

### List files in long format
alias l="ls --long"

### List files in long format
alias ll="ls --long"

### List files in long format, including git status
alias llg="ls --long --git"

### List all files long format, excluding . and ..
alias la="ls --long --all"

### List all files long format, including git status, excluding . and ..
alias lag="ls --long --git --all"

### List only directories
alias lsdir="eza --time-style=long-iso --long --only-dirs"

### List files as tree
alias tree="eza --git-ignore --tree"

## cat -> bat
## https://github.com/sharkdp/bat
alias cat='bat --plain --theme=TwoDark'
alias ogcat='command cat'

# Lazygit
alias lg="lazygit"
# The next two mirror the nvim keybindings for invoking lazygit
alias ly="lazygit"
alias lz="lazygit"

# Lazydocker
alias ld="lazydocker"

# Bottom is the new htop
alias btop='btm --config_location ~/.config/bottom/bottom_default.toml --basic'
alias btm_clean='btm --config_location ~/.config/bottom/bottom_default.toml'

# Always enable colored `grep` output
# Note: `GREP_OPTIONS="--color=auto"` is deprecated, hence the alias usage.
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

# Skip dns and services lookup for lsof
alias lsof='lsof -nP'

# Enable aliases to be sudo’ed
alias sudo='sudo '

# Longer timeout with HTTPie
alias http='http --timeout 300'

# Verbose http
alias httpv='http -pHhBb'

# Get week number
alias week='date +%V'

# IP addresses
alias myip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="ipconfig getifaddr en0"
alias ips="ifconfig -a | grep -o 'inet6\? \(addr:\)\?\s\?\(\(\([0-9]\+\.\)\{3\}[0-9]\+\)\|[a-fA-F0-9:]\+\)' | awk '{ sub(/inet6? (addr:)? ?/, \"\"); print }'"

# Show active network interfaces
alias ifactive="ifconfig | pcregrep -M -o '^[^\t:]+:([^\n]|\n\t)*status: active'"

# View HTTP traffic
alias sniff="sudo ngrep -d 'en0' -t '^(GET|POST) ' 'tcp and port 80'"
alias httpdump="sudo tcpdump -i en0 -n -s 0 -w - | grep -a -o -E \"Host\: .*|GET \/.*\""

# Do a TCP port check
alias port="nc -vz 127.0.0.1"
alias portcheck="nc -vz"

# Flush Directory Service cache
alias flush="dscacheutil -flushcache && killall -HUP mDNSResponder"

# Clean up LaunchServices to remove duplicates in the “Open With” menu
alias lscleanup="/System/Library/Frameworks/CoreServices.framework/Frameworks/LaunchServices.framework/Support/lsregister -kill -r -domain local -domain system -domain user && killall Finder"

# Canonical hex dump; some systems have this symlinked
command -v hd > /dev/null || alias hd="hexdump -C"

# macOS has no `md5sum`, so use `md5` as a fallback
command -v md5sum > /dev/null || alias md5sum="md5"

# macOS has no `sha1sum`, so use `shasum` as a fallback
command -v sha1sum > /dev/null || alias sha1sum="shasum"

# JavaScriptCore REPL
alias jsc="/System/Library/Frameworks/JavaScriptCore.framework/Versions/Current/Helpers/jsc";

# Trim new lines and copy to clipboard
alias ctrlc="tr -d '\n' | pbcopy"

# Recursively delete `.DS_Store` files
alias cleanup="find . \( \( -type d -name target \) -or \( -type d -name build \) -or \( -type d -name node_modules \) -or \( -type f -name '*.DS_Store' \) \) -exec rm -r {} \;"

# Show/hide hidden files in Finder
alias showfiles="defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder"
alias hidefiles="defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder"

# Hide/show all desktop icons (useful when presenting)
alias hidedesktop="defaults write com.apple.finder CreateDesktop -bool false && killall Finder"
alias showdesktop="defaults write com.apple.finder CreateDesktop -bool true && killall Finder"

# URL-encode strings
alias urlencode='python -c "import sys, urllib as ul; print ul.quote_plus(sys.argv[1]);"'

# Merge PDF files, preserving hyperlinks
# Usage: `mergepdf input{1,2,3}.pdf`
alias mergepdf='gs -q -dNOPAUSE -dBATCH -sDEVICE=pdfwrite -sOutputFile=_merged.pdf'

# Disable Spotlight
alias spotoff="sudo mdutil -a -i off"
# Enable Spotlight
alias spoton="sudo mdutil -a -i on"

# PlistBuddy alias, because sometimes `defaults` just doesn’t cut it
alias plistbuddy="/usr/libexec/PlistBuddy"

# Intuitive map function
# For example, to list all directories that contain a certain file:
# find . -name .gitattributes | map dirname
alias map="xargs -n1"

# Stuff I never really use but cannot delete either because of http://xkcd.com/530/
alias stfu="osascript -e 'set volume output muted true'"
alias pumpitup="osascript -e 'set volume output volume 100'"

# Lock the screen (when going AFK)
# Update from https://github.com/mathiasbynens/dotfiles/pull/946
alias afk="osascript -e 'tell app \"System Events\" to key code 12 using {control down, command down}'"

# # default options for some binaries
# [ -x /usr/local/bin/git ] && alias git='/usr/local/bin/git'

# presentation mode
alias presentation-mode-enter='alacritty msg config font.size=36 && tmux set-option status off'
alias presentation-mode-exit='tmux set-option status on && alacritty msg config --reset'

# Refresh htop every second (every 10 100ms units)
alias htop='sudo htop -d 10'

# JVM switching
alias j11='jdk 11 && java -version'
alias j17='jdk 17 && java -version'
alias j21='jdk 21 && java -version'
alias j23='jdk 23 && java -version'

# move with rsync, use rmove -z /a /b to enable gzip for full speedup when downloading text files from servers
alias rmove="rsync --remove-source-files -Phav  --exclude .git --exclude .idea"
alias rmove-all="rsync --remove-source-files -Phav"
alias rcopy="rsync -Phav --exclude .git --exclude .idea"
alias rcopy-all="rsync -Phav"

# serve local directory
alias serve="miniserve --index index.html ."
alias serve-from="miniserve --index index.html"
